{% extends 'base/base.html' %}

{% block title %}
  选择章节
{% endblock %}

{% block main %}
  <h1>选择章节</h1>
  <form action="{% url 'question.views.select_charpter' goto=goto %}" method="post">
    {% csrf_token %}
    {% for charpter in charpters %}
      <input type="radio" name="charpter_id" value="{{ charpter.id }}" id="{{ charpter.id }}">
      <label for="{{ charpter.id }}">{{ charpter.title }}</label>
    {% endfor %}
    {% if goto == 'question' %}
      <input type="submit" value="选好了,去新建题目!" class="btn btn-success">
    {% elif goto == 'assignment' %}
      <input type="submit" value="选好了,去新建作业!" class="btn btn-success">
    {% endif %}
  </form>
{% endblock %}